body {
  background-color: aquamarine;
}
div {
  background-color: blueviolet;
  margin: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px burlywood;
  color: aquamarine;
}
h2 {
  background-color: bisque;
  color: blueviolet;
  margin: 30px;
  text-align: center;
  font-style: inherit;
  padding: 40px;
  border-radius: 200px;
  font-size: 40px;
}
.head {
  color: aquamarine;
}
.link {
  text-align: center;
}
